<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipe_search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="row mb-3">
        <a href="/coffeegonewild/home" class = "my-1 mx-auto"><img id = "logo" src="/static/images/logo.png" alt="image_of_logo"></a>
    </div>
    <div class="border border-dark col-xl-5 container search_form">
        <h1 class="ml-5">Let us narrow down</h1>
        {% for message in get_flashed_messages(category_filter=['notfound']) %}
        <p class="ml-5 text-warning">{{message}}</p>
        {% endfor %}
        {% for message in get_flashed_messages(category_filter=['reg']) %}
        <p class="ml-5 text-danger" class="text-danger">{{message}}</p>
        {% endfor %}
        <form class="form" action="/coffeegonewild/Iamready", method= "post">
            <div class="form-group ml-5 mt-3">
                <h4 class="form-label search_title">Temperature</h4>
                <!-- <input type="radio" name="temperature" value="0">
                <label class="mr-5" for="temperature">Hot</label> -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="temperature" id="inlineCheckbox1" value="0">
                    <label class="form-check-label h5 mr-5 search_content" for="temperature">Hot</label>
                </div>
                <!-- <input type="radio" name="temperature" value="1">
                <label class="mr-5" for="temperature">Cold</label> -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="temperature" id="inlineCheckbox2" value="1">
                    <label class="form-check-label h5 mr-5 search_content" for="temperature">Cold</label>
                </div>
                <!-- <input type="radio" name="temperature" value="2">
                <label for="temperature">Either</label> -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="temperature" id="inlineCheckbox3" value="2">
                    <label class="form-check-label h5 mr-5 search_content" for="temperature">Either</label>
                </div>
            </div>
            <div class="form-group ml-5">
                <h4 class="form-label search_title">Creaminess</h4>
                <!-- <input type="radio" name="creaminess" value="1">
                    <label class="mr-5" for="creaminess">Creamy</label> -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="creaminess" id="inlineCheckbox1" value="0">
                    <label class="form-check-label h5 mr-5 search_content" for="creaminess">Non-creamy</label>
                </div>
                <div class="form-check form-check-inline search_content">
                    <input class="form-check-input" type="radio" name="creaminess" id="inlineCheckbox2" value="1">
                    <label class="form-check-label h5 mr-5 search_content" for="creaminess">Creamy</label>
                </div>
                <!-- <input type="radio" name="creaminess" value="0">
                <label for="creaminess">Non-creamy</label> -->
            </div>
            <div class="form-group ml-5">
                <h4 class="form-label search_title">Sweetness</h4>
                <!-- <input type="radio" name="sweetness" value="1">
                <label class="mr-5" for="sweetness">Sweet</label> -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sweetness" id="inlineCheckbox1" value="0">
                    <label class="form-check-label h5 mr-5 search_content" for="sweetness">Non-sweet</label>
                </div>
                <div class="form-check form-check-inline search_content">
                    <input class="form-check-input" type="radio" name="sweetness" id="inlineCheckbox2" value="1">
                    <label class="form-check-label h5 mr-5 search_content" for="sweetness">Sweet</label>
                </div>
                <!-- <input type="radio" name="sweetness" value="0">
                <label for="sweetness">Non-sweet</label> -->
                
            </div>
            <div class="form-group ml-5">
                <h4 class="form-label search_title">With foam</h4>
                <!-- <input type="radio" name="with_foam" value="1">
                <label class="mr-5" for="with_foam">Yes</label> -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="with_foam" id="inlineCheckbox1" value="1">
                    <label class="form-check-label h5 mr-5 search_content" for="with_foam">Yes</label>
                </div>
                <!-- <input type="radio" name="with_foam" value="0">
                <label for="with_foam">No</label> -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="with_foam" id="inlineCheckbox2" value="0">
                    <label class="form-check-label h5 mr-5 search_content" for="with_foam">No</label>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-warning mr-3 search_button">I am ready!</button>
                <a class="btn btn-warning mr-3 search_button" href="/coffeegonewild/home">Home</a>
            </div>
        </form>
    </div>
    <div class="text-center mt-5 footer">
        <p>© 2022 Coffeegonewild by Jingwen L.</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
</body>
</html>