* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: sans-serif;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	background-color: none;
	}

/* index.html */
#logo {
	border-radius: 50%;
	width: 115px;
}

#icon {
	height: 20px;
}

.navbar {
	height: 50px;
}

.navbar_index {
	color: #905f41;
	font-size: 20px;
	font-weight: normal;
}

.navbar_right {
	height:30px
}

.index_video {
	height: 600px;
}

.index_bottom {
	color: #905f41
}

/* .serach_header {
	text-align: center;
} */

/* #comment_list {
	list-style-type: none;
} */

.footer {
	color: grey;
}

.index_bottom_button {
	font-size: 22px;
}

#coffeeCupIcon {
    height: 28px;
}

/* recipes_all.html */
.recipe_card{
    margin-top: 15px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    width: 30%;
}
.recipe_card:hover{
    transform: scale(1.07);
}

.recipe_image {
    object-fit: fill;
    min-width: 200px;
    min-height: 300px;
    width:100%;
    height: 200px;
}

.recipe_title {
    font-size: 1.2em;
    font-weight: 600;
    color: #be3c5a;

}

.recipe_card > h4{
    font-size: 1em;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #be3c5a;
}


/* ------recipe_one.html------ */
.recipe_one_body {
	padding-left: 220px;
}

.recipe_image2 {
	width: 400px;
	height: auto;
}


#rating {
	width: 200px;
}

/* recipe_search.html */
.search_form {
	padding: 20px 20px 20px 20px
}

.search_form_button {
	height: 40px;
	background-color: #ffc11d;
	color: white;
}

/* recipe_one */
.comment {
	color: #905f41
}

.comment_label {
	font-size: larger;
}

.comment_box {
	border: 1px solid #905f41;
	width: 800px;
	height: 150px;
}